header{
    top: 0; left: 0;
    height: 70px;
    background-color: #fdf9f777;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 99;
}

header .logo{
    font-size: 1.5em;
    letter-spacing: -1px;
    font-weight: 700;
}

header .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.mo_menubtn, .mo_menu, .mo_delbtn, .mo_menuwrap{
    display: none;
}

@media screen and (max-width:768px) {

    header{
        height: 60px;
    }

    header .menu{
        display: none;
    }

    .mo_menubtn{
        display: block;
        font-size: 1.5em;
        cursor: pointer;
    }

    .mo_menuwrap{
        display: none;
        left: 0; top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 999;
        background-color: #F2EDEA;
        position: absolute;
    }

    .mo_menu{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 1.5em;
    }

    .mo_delbtn{
        margin: 20px;
       float: right;
        display: flex;
        justify-content: end;
        font-size: 1.6em;
    }

    .mo_delbtn .fa-solid{
        cursor: pointer;
    }

    .pop{
        display: block;
    }
   

/* media end */
}